<nav class="bg-white border-b border-neutral/10 shadow-sm">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between h-14 items-center">
      <!-- Logo / Nome -->
      <div class="flex items-center space-x-4">
        <span class="font-bold text-lg text-neutral">Análise de comentários</span>
      </div>

      <!-- Links -->
      <div class="flex items-center space-x-4">
        <%= link_to "Início", root_path, class: "btn btn-ghost btn-sm" %>
        <%= link_to "Posts & Comentários", posts_path, class: "btn btn-ghost btn-sm" %>
        <%= link_to "Palavras-chave", keywords_path, class: "btn btn-ghost btn-sm" %>
      </div>
    </div>
  </div>
</nav>
