<div class="max-w-lg mx-auto bg-white shadow-sm rounded-xl mt-12 p-8 border border-neutral/10">
  <h1 class="text-xl font-bold mb-6 text-neutral">Nova Keyword</h1>
  <%= render "form", keyword: @keyword %>
</div>
